*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.invoice-container{
    background-color: aliceblue;
    width: 600px;
    height: 877px;
    margin: 0 auto; 
}

.invoice-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 4rem; */
   
    
   
}

.invoice-information{
    background-color: aliceblue;
    display: none;
    margin-top: 8rem;
    

}

.trends{
    width: 600px;
    position: fixed;
    background-color: white;
    /* padding: 2rem; */
    border: 2px solid aliceblue;
}

.trends h4{
    float: right;
    border: 2px solid aliceblue;
    cursor: progress;
    background-color: aliceblue; 
}

.ad{
    float: left;
}



.invoice-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    background-color: firebrick;
    color: aliceblue;
    /* width: 90%; */
    display: grid;
    grid-template-columns: 17rem 18rem;
    /* margin-top: 9rem; */

}

.logo{
    display: flex;
    padding: 2rem;
    /* border: 2px solid; */
    /* border-right: none; */
    background-color: rgb(32, 32, 53);
    color: aliceblue;
    height: 140px;
    
   
}

.logo img{
    border-radius: 50%;
}

.slogan{
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
    padding: 0.5rem;
}

.logo span{
    display: block;
    white-space: nowrap;
    
}


.invoice-details{
    /* padding: 2rem; */
    background-color: firebrick;
    /* flex-basis: -10%; */
    /* width: 40%; */
}

.header{
    /* width: 200px; */
    /* background-color: blueviolet; */
    font-weight: bolder;
    font-size: 2rem;
}

.account-details{
    display: flex;
    gap: 2rem;
    /* background-color: aquamarine; */
    white-space: nowrap;
}

.invoice-main-body{

    padding: 2rem;
    
    display: grid;
    grid-template-columns: 20rem 22rem;
}

.invoice-to h3:first-child, .invoice-payment-method h3:first-child, .invoice-condition h3{
    color: firebrick;
    /* width: 300px; */
}

.invoice-payment-method{
    margin-top: 1rem;
    font-weight: bold;
}

.personal-details{
    display: flex;
    flex-direction: column;
}

.invoice-table{
    width: 100%;
    /* border: 2px solid; */
    /* padding: 2rem; */
    border-collapse: collapse;
    
}

/* td:first-child{
    background-color: aquamarine;
} */

.description{
    /* text-align: center; */
    background-color: firebrick;
    width: 0px;
    text-align: left;
    white-space: nowrap;
    padding-right:  6rem;
    padding-left: 2rem;
}

tr{
    border: 2px solid;
    /* background-color: aqua; */
    padding: 2rem;
}
th, td{
    text-align: center; 
    padding: 0.5rem; 
    border: 2px solid transparent;
    margin-left: 3rem;
    white-space: nowrap; 
    text-align: left;  
}

td{
   border-bottom: 2px solid lightgray;
   border-right: 2px solid transparent;
   border-left: 2px solid transparent;
}

thead{
    padding: 2rem;
    margin-left: 2rem;
    width: 3px;
    text-align: left;
}

th{
    background-color: rgb(32, 32, 53);
    color: aliceblue;
    
}

 tfoot tr:last-child{
    background-color: firebrick;
}

.invoice-condition{
    padding: 2rem;
}
.form-invoice{
    border: 2px solid pink;
    border: 2px solid aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 6.5rem;
}
form{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
}


input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid;
}



.invoice-form-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* position: absolute;
    top: 5%; */
   

}

.forms-details{
    display: flex;
    /* background-color: brown; */
    flex-direction: column;
    /* gap: 1rem; */
}

.owner{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

button{
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 2rem 2rem;
    /* border: 2px solid; */
   
    background-color: rgb(32, 32, 53);
    border: 2px solid aliceblue;

    height: 50px;
}


.icon-container{
    background-color: blue;
    display: flex;
    gap: 0.5rem;
    background-color: rgb(32, 32, 53);
    /* border-right: 2px solid red; */
    color: aliceblue;
    /* border-right-style: groove; */
    width: 80%;
}

footer span{
    background-color: firebrick;
    color: aliceblue;
    padding: 0.19rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

footer p{
    padding: 0.4rem 0;
}


.icons-info{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    background-color: rgb(32, 32, 53);
    gap: 0.3rem; 
}

.signature{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    background-color: aliceblue;
    height: 60px;

}

.sig-name{
    /* background-color: pink; */
    padding: 0.2rem 0rem;
    border-top: 2px solid lightgrey;
   
}

.shape{
    background-color: firebrick;
    height: 20px;
    margin-top: 1.3rem;
    /* width: 0px; */
}

.sig-name h5{
    padding: 0 2rem;
}

.shape div{
     /* width: 300px; */
}



