@media(min-width:468px) {
    .container{
        width: 100%;
        display: flex;
    }

    .container-2{
    display: flex;
    justify-content: space-between;
   
}
        

} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .project-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: aliceblue;
    background-image: url(./bg\ image\ cd2.jpeg);
  }

  .heading{
    text-transform: uppercase;
    

  }
  
    /*
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    flex-direction: column;

    ------by default the display is stretched
    */  

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .box-1{
    flex: 2;
    order: 2;
    

  }
  .box-2{
    flex: 1;
    order: 1;

  }
  .box-3{
    flex: 1;
    order: 3;

  }
  .container div, .container-3 div{
    /* border: 2px solid grey; */
    padding: 10px;
  }



  .container-2 div{
    padding: 15px;
    /* border: 1px #ccc solid; */
  }

  .box{
    flex-basis: 30%;

    /*
    can be used in place of the width
    width: 30%;

    */
    
  }

 .box3{
    flex-basis: 15%;
 } 

 .box4{
    background-color: beige;
    display: none;
 }
