*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project-container{
    background-color: aliceblue;
    background-color: pink;
    padding: 1rem;

}

.profile-contents{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 148, 159);
    /* justify-content: center;
    align-items: center; */
    gap: 0.5rem;
}

.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.project-header span:last-child{
    font-weight: bolder;
    font-size: 2rem;
}


.profile-container{
    padding: 2rem;
    background-color: rgb(219, 148, 159);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    border-radius: 30px;
    
}

.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-image img{
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
}

.profile-icon{
    position: absolute;
    bottom: -1rem;
    right: 3.8rem;
    scale: 0.8;
    cursor: pointer;
}

.icon-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-form form{
    /* padding: 0 2rem; */
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    gap: 1rem;
    position: relative;
    /* background-color: blue; */
    /* i will-change this in tablet; */
}

.profile-form form .form-info{
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* gap: 1rem; */
}

.profile-form form .input-icon{
    /* background-color: aquamarine; */
    position:  absolute;
    bottom: 1.5rem;
    left: 14rem;
}


.profile-form form input{
    padding: 0.3rem 0rem;
    border: 2px;
    background-color: rgb(219, 148, 159);
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 1rem;
    
    outline: none;
    
    cursor: pointer;
    border-bottom: 2px solid lightgray;
    /* background-color: brown; */
}

.profile-form form input:focus{
    border: 2px;
    flex-grow: 2;
    outline: none;   
}

.profile-form form .input-border{
    border-bottom: 2px solid lightgray;
}

.profile-form form .input-icon{
    padding: 0.2rem;
     display: flex;
     justify-content: flex-end;
}

.profile-form form label{
    color: lightgray;
    font-weight: lighter;
}


.profile-edit{
    background-color: rgb(219, 148, 159);
    border-radius: 35px;
    padding: 1rem 0;
    display: relative;

    /* wil change this in tablet */
}

.form-edit .input-icon{
    /* background-color: aqua; */
    position: absolute;
    top: 60.6rem;
    left: 17.3rem;
}

.form-edit-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.2rem;
    /* i will change this in tablet */
}

.form-edit-info input{
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    border: 2px solid rgb(231, 205, 214);
    background-color: rgb(231, 205, 214);
    cursor: pointer;
    font-weight: bold;
}

.form-edit-info input:focus{
    outline: none;
}

.form-edit-info input:last-child{
    margin-bottom: 1.7rem;
}

.form-edit-info button{
    padding:1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: bolder;
    color: grey;
    text-transform: uppercase;
    border: 2px solid aliceblue;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn button{
    flex-grow: 3;
    padding:1rem 0.5rem;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: bolder;
    color: grey;
    text-transform: uppercase;
    border: 2px solid aliceblue;
}