*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    width: 100%;
    height: 100vh;

}

.project-container{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-container .project-contents{
    width: 60%;
    height: 90%;
    background-color: pink;
    padding: 0 2rem;
    border-radius: 20px;
}

.project-header{
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding: 0.5rem 0.2rem;
    font-weight: bolder;
    font-size: 1.5rem;
    white-space: nowrap;

}


.profile-container{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 20rem auto;
    padding: 0.5rem;
    background-color: aqua;
    column-gap: 2rem;
    border-radius: 30px;
    background-color: pink;
    /* padding: 2rem; */    
}

.profile-contents{
    width: 100%;
    height: 90%;
    background-color: rgb(219, 148, 159);
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    height: 10;
    /* background-color: brown; */
}

.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:  1.5rem 0;
}

.profile-image img{
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
}

.profile-image span{
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0.5rem;
    right: 5rem;
    color: pink;
}

.profile-form{
    height: 90%;
}

.profile-form form{
    width: 100%;
    height: 80%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    /* background-color: blue; */
}

.profile-form form .form-info{
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.profile-form form input{
    padding: 0.3rem 0rem;
    border: 2px;
    background-color: rgb(219, 148, 159);
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 2rem;
    
    outline: none;
    
    cursor: pointer;
    border-bottom: 2px solid lightgray;
    /* background-color: brown; */

    
}

.profile-form form input:focus{
    border: 2px;
    flex-grow: 2;
    outline: none;   
}

.profile-form form .input-border{
    border-bottom: 2px solid lightgray;
}

.profile-form form .input-icon{
    padding: 0.2rem;
     display: flex;
     justify-content: flex-end;
}


.profile-form form label{
    color: lightgray;
    font-weight: lighter;
}


.profile-form form button{
    margin-top: 1rem;
    padding:1rem 0.5rem;
    background-color: rgb(33, 184, 234);
    border-radius: 15px;
    font-weight: bolder;
    color: aliceblue;
    text-transform: uppercase;
    border: rgb(33, 184, 234);
    width: 90%;
}

.profile-edit{
    height: 90%;
    background-color: rgb(219, 148, 159);
    border-radius: 35px;
    padding: 3rem 0;
}

.form-grid{
    width: 90%;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}

.form-edit{
    /* background-color: bisque; */
    padding: 0 2rem;
    color: lightgray;
    font-weight: bold;
    
}
.form-edit-info{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: blue; */
    width: 100%;
    gap: 0.5rem;
}

.form-edit-info input{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    outline: none;
    border: none;
    border: 2px solid rgb(231, 205, 214);
    background-color: rgb(231, 205, 214);
    cursor: pointer;
    font-weight: bold;
}

.form-edit-info input:focus{
    outline: none;
}

.form-edit-info input:last-child{
    margin-bottom: 1.7rem;
}

.input-icon{
    position: relative;
}

.input-icon span{
    position: absolute;
    left: 16rem;
    padding: 0.3rem 0;
}

.form-edit-info button{
    padding:0.7rem 0.5rem 0.5rem 0.5rem;
    background-color: aliceblue;
    border-radius: 15px;
    font-weight: bolder;
    color: grey;
    text-transform: uppercase;
    border: 2px solid aliceblue;
    width: 100%;
}

.form-edit-info button:hover{
    background-color: rosybrown;
    border: 2px solid rosybrown;
}