*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-container{ 
    /* padding: 2rem; */

}

.nav-bar{
    /* width: 100%; */
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    height: 20px;
   
}

.logo-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.logo{
    display: flex;
    gap: 0.7rem;
}

.logo span{
    margin-top: 0.4rem;
    font-size: 1.7rem;
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.input-icon{
    position: relative;
    display: flex;
    color: white ;
}

.input-icon input{
    flex-grow: 2;
    padding: 0.5rem 3rem;
    border-radius: 7px;
    border: none;
    outline: none;
}

.input-icon input:focus{
    outline: none;
}

.arrow-left{
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.icon-input{
    position: absolute;
    left: 8rem;
    top: 0.25rem;
    color: #CCC;
}

.nav-notification-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
    position: relative;
    color: aliceblue;
}

.notification{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.badge{
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
    bottom: 0rem;
    z-index: 8;
    color: red;
}

.badge span{
    position: relative;
    left: 1rem;
}

img{
    border-radius: 50%;
    object-fit: cover;
}

.profile-badge{
    display: flex;
}

.profile-badge img{
    /* margin-top: 0.7rem; */
}

.badge-profile{
    font-size: 4rem;
    font-weight: bolder;
    color: green;
    position: absolute;
    bottom: -1.9rem;
    
}

.badge-profile span{
    position: relative;
    left: 1.8rem;
}

.menu{
    display: none;
}
@media screen and (max-width:600px) {
    .nav-bar{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        /* overflow: scroll; */
    }

    .logo span:last-child{
        display: none;
    }
   
    
    .widgets{
        display: none;
    }

    .nav-notification-icons{
        display: flex;
        margin-left: 2rem;
        padding: unset;
    }

    .logo{
        margin-top: 0.5rem;
        padding: 1rem;
        color: aliceblue;
    }

    .input-icon{
        display: none;
    }

    .menu{
        display: block;
    }

    .nav-notification-icons img{
        display: none;
    }

    .badge{
        display: none;
    }

    .profile-badge{
        display: block;
    }

    .badge-profile{
        display: none;
    }

    
}

@media screen  and (min-width:601px) {
    .input-icon{
        display: none;
    }

    .menu{
        display: block;
    }

    .widgets{
        display: block;
    }

    
}