:root{
    --primary-color: pink;
    --color-primary-variant: #005b96;
    --secondary-color: #c9c9ff;
    --background-color: rgb(24, 24, 24);
    --color-success: #fe8a71;
    --color-info: #2ab7ca;
    --color-warning: #63ace5;
    --color-light: rgb(230, 230, 230);
    --color-dark: rgb(24, 24, 24);
    --padding-1: 0.5rem 0.8rem;
    --padding-2: 1.1rem 1.4rem;
    --border-radius: 10px;
    --color-background: #d6d3d3;
    --width-full: 100%;
    --padding-container: 2rem;
    --padding-children: 1rem;
    --font-size: 1rem;
    --picture-border-radius: 50%;
    --border-radius: 15px;

}

.theme-dark{
    --color-dark: rgb(230, 230, 230);
    --color-light: rgb(24, 24, 24);
    /* --color-background: #1d1d1d;
    --background-color: black; */
    --primary-color: black;
    --secondary-color: black;
    background-color: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-container{
    background-color: var(--background-color);
    /* display: flex; */

}

.project-header{
    background-color: var(--primary-color);
    /* height: 120vh; */
    padding: 0 2rem;

}

.top{
    display: flex;
    justify-content: space-between;
}

.menu-top img{
    border-radius: 50%;
    display: none;
}

.menu-top span{
    color: var(--color-dark);
    cursor: pointer;
    margin-top: 1rem;
}



/* .side-bar{
    height: 2;
} */

.side-bar ul{
    position: relative;
    font-size: 1rem;
    font-weight: bolder;
    list-style-type: none;
    /* height: 80vh; */
    display: none;
}

.side-bar ul li a{
    text-decoration: none;
    color: var(--color-dark);
}

.side-bar ul li{
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

/* .side-bar ul li:nth-child(6){
border-bottom: 2px solid;
} */

.side-bar ul li:hover{
    background-color: var(--color-success);
    transition: 300ms ease-in-out;
}

.side-bar ul li:nth-child(7){
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--padding-1);
    background-color: var(--secondary-color);
    color: var(--color-secondary);
    transform: translateX(0%);
    }

.contents{
    background-color: var(--secondary-color);
    padding: var(--padding-2);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-1);
    margin: 0 auto;
}

.content .header h1{
    color: var(--color-dark);
}

 .switch{
    display: block;
    width: 100px;
    height: 2rem;
    display: flex;
    border-radius: 10px;
    padding: var(--padding-1);
    align-items: center;
    cursor: pointer;
    color: var(--color-light);
    padding: 2rem;  
    font-size: 3.2rem;
    justify-content: space-between;
    gap: 0.5rem;
}

 .switch span{
    border-radius: var(--border-radius);
    
}
 .switch span:first-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #005b96;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.contents .switch{
    display: none;
}

.card-col{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

.card-col:hover .card{
    filter: blur(3px);
    transform: scale(0.9);
    opacity: 0.5;
}


.card{
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--color-primary-variant);
    cursor: pointer;
}

.card-col .card:hover {
    filter: blur(0px);
    transform: scale(1.0.5);
    opacity: 1;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
    font-size: 1rem;
    padding: var(--padding-1);
}

 .card-body{
    width: 100%;
    padding: var(--padding-1);
    color: var(--color-light);
    page-break-after: 20px;
}

 .card-footer button{
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    padding: var(--padding-1);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all 400ms ease-in-out;
    margin: 0 5rem;
    width: 70%;
}

.card-footer button p{
    font-size: 1.5rem;
}

.card-footer span{
    margin-top: 0.2rem;
}

 .card:last-child{
    background-color: var(--color-warning);
}
 .card:nth-child(2){
    background-color: var(--color-info);
}

@media screen and (min-width: 768px) {
    .project-container{
        width: var(--width-full);
        height: 100vh;
        position: relative;
        display: flex;
        
    } 

    .project-header{
        height: 100vh;
        /* width: 100%; */
    }
    
    .side-bar ul{
        height: 80vh;
    }
    .menu-top{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .menu-top img{
        border-radius: 50%;
        display: block;
    }
    
    .contents .switch{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top .switch{
        display: none;
    }

    .card-footer button{
        margin-top: 1rem;
        width: 70%;
    }

    

}

    

    @media screen and (min-width: 989px) {
        .project-container{
            width: var(--width-full);
            height: 100vh;
            position: relative;
            display: grid;
            grid-template-columns: 17% 80%;
            grid-gap: 1rem;
        
        } 

        .side-bar ul{
            display: block;
        }

        .card-col{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
        
        }

        .card button{
            width: 60%;
        }
    }


